<form class="card form" (ngSubmit)="onSubmit()" [formGroup]="form">
  <h2>enter admin panel</h2>
  <div class="form-control" [ngClass]="{'invalid': email().touched && email().invalid}">
    <label for="email">Email:</label>
    <input id="email" name="email" type="email" formControlName="email" />
    <div *ngIf="email().touched && email().invalid" class="validation">
      <small>validation</small>
    </div>
  </div>
  <div class="form-control" [ngClass]="{'invalid': password().touched && password().invalid}">
    <label for="password">Password:</label>
    <input id="password" name="password" type="password" formControlName="password" />
    <div *ngIf="password().touched && password().invalid" class="validation">
      <small>validation</small>
    </div>
  </div>
  <button [disabled]="form.invalid" class="btn btn-primary" type="submit">submit</button>
</form>
