<div *ngIf="posts.length; else loading">
  <div class="form-control">
    <input type="text" placeholder="search here ..." [(ngModel)]="searchString" />
  </div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>author</th>
        <th>title</th>
        <th>data</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of (posts | searchPosts: searchString); let idx = index">
        <td>{{ idx + 1 }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.date | date:'medium':null:'ru' }}</td>
        <td>
          <button (click)="onShowDetails(post)" type="button" class="btn btn-link uppercase">post details</button>
          <a class="uppercase" style="margin-left: .4rem;" (click)="onRemovePost($event, post)" href="#">remove post</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <div class="loader">loading data from firebase</div>
</ng-template>
