<form class="form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <h1>create new post</h1>

  <div class="form-control" [ngClass]="{'invalid': title.touched && title.invalid}">
    <label class="label" for="title">title:</label>
    <input type="text" id="title" name="title" placeholder="post title" formControlName="title">
    <div *ngIf="title.touched && title.invalid" class="validation">
      <small *ngIf="title.errors.required">title is required</small>
    </div>
  </div>

  <div class="form-control" [ngClass]="{'invalid': body.touched && body.invalid}">
    <label class="label">body:</label>
    <quill-editor formControlName="body"></quill-editor>
    <div *ngIf="body.touched && body.invalid" class="validation">
      <small *ngIf="body.errors.required">body is required</small>
    </div>
  </div>

  <div class="form-control" [ngClass]="{'invalid': author.touched && author.invalid}">
    <label class="label" for="author">author:</label>
    <input type="text" id="author" name="author" placeholder="author" formControlName="author">
    <div *ngIf="author.touched && author.invalid" class="validation">
      <small *ngIf="author.errors.required">author is required</small>
    </div>
  </div>
  <button type="submit" class="btn btn-block btn-dark" [disabled]="createForm.invalid">add new post</button>
</form>
