<div *ngIf="post$ | async as post; else loading" class="post">
  <div class="header">
    <h1 class="post-title">{{ post.title }}</h1>
    <button routerLink="/" class="btn btn-link">go to main</button>
  </div>
  <div class="post-info">
    <strong class="post-author">{{ post.author }}</strong>
    <small>{{ post.date | date:'medium':null:'ru' }}</small>
  </div>
  <div>
    <quill-view-html [content]="post.body"></quill-view-html>
  </div>
</div>

<ng-template #loading>
  <h2>loading post ...</h2>
</ng-template>
