<div class="post">
  <div class="header">
    <h1 class="post-title">post title</h1>
    <button routerLink="/" class="btn btn-link">go to main</button>
  </div>
  <div class="post-info">
    <strong class="post-author">author</strong>
    <small>12.12.2001</small>
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto assumenda, aut blanditiis doloremque eligendi eum explicabo neque quas quisquam!</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto assumenda, aut blanditiis doloremque eligendi eum explicabo neque quas quisquam!</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto assumenda, aut blanditiis doloremque eligendi eum explicabo neque quas quisquam!</div>
</div>
